<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="styles/main.css">

<br>
<body>
	<div class="title">Debater Pro</div>
	<br>

	<a href="views/create.html"><button class="StartDebate" >
		Start Debate
	</button></a>

	<a href="views/join.html"><button class="JoinDebate" >
		Join Debate
	</button></a>

	<a href="views/view.html"><button class="ViewDebate" >
		View Debate
	</button></a>

</body>
