<header>
	<link rel="stylesheet" type="text/css" href="http://tympanus.net/Tutorials/CustomDropDownListStyling/css/style.css" />
	<script type="text/javascript" src="http://tympanus.net/Tutorials/CustomDropDownListStyling/js/modernizr.custom.79639.js"></script> 
	<noscript><link rel="stylesheet" type="text/css" href="http://tympanus.net/Tutorials/CustomDropDownListStyling/css/noJS.css" /></noscript>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../../styles/main.css">
	<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script type="text/javascript" src="../../js/timer.js"></script>
</header>
<br>

<input type="text" style="display:none;" id="isDebatorOne" value=<%=debator%>> </input>
<input type="text" style="display:none;" id="secret" value=<%=secret%>> </input>


<body>
	<div >
		<video id="my-video" style="background-color: black;" autoplay>
			If you dont see any video 
		</video>
	</div>
	<div class='title'> Debate </div>
	<div align="right">
		<div>Id:<div id="debateID"><%=debate.id%></div></div>

		<table border="0">
			<tr>

				<td>
					<div align="left">
						Time Remaining:&nbsp;&nbsp;<div id="timeLeft"></div>
					</div>
				</td>

				<td>
					<div align="left">
						<a class="endButton" onclick="endTurnEarly()">End turn early</a>
					</div>
				</td>

			</tr>
		</table></div>
		<br><br>

		<br><br><br>
	</div>
	<script type="text/javascript" src="../../js/recorder.js"></script>
</body>




