<header>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="styles/main.css">
</header>

<body>
	<br>
	<div class="title">
		Current debates
	</div>
	<div align="center">
		<br>
		<a href="debateScreen"><table href='#' class='debates_table' bgcolor='#CECECE' width='80%' height = '5%' border='1' border-color='black'>
			<td class='debates_td' width='10%'><p class='debates_p'> <b>Type:</b> political</p></td>
			<td class='debates_td' width='10%'><p class='debates_p'> not serious</p></td>
			<td class='debates_td' width='20%'><p class='debates_p'> <b>Opponents:</b> david vs emily </p></td>
			<tr>
				<td colspan = '6' class='debates_td2' width='100%'><p class='debates_p'> <b>Topic:</b> Should prostitution be illegal</p></td>
			</table></a>

		<br>
		<a href="debateScreen"><table href='#' class='debates_table' bgcolor='#CECECE' width='80%' height = '5%' border='1' border-color='black'>
			<td class='debates_td' width='10%'><p class='debates_p'> <b>Type:</b> political</p></td>
			<td class='debates_td' width='10%'><p class='debates_p'> serious</p></td>
			<td class='debates_td' width='20%'><p class='debates_p'> <b>Opponents:</b> Cameron vs Audra </p></td>
			<tr>
				<td colspan = '6' class='debates_td2' width='100%'><p class='debates_p'> <b>Topic:</b> Should prostitution be illegal</p></td></a>
			</table>
		</div>
	</body>
